@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ARCC Proposal Homepage</h1>
    <p class="lead">The ARCC proposal homepage provides a centralized location to store all of the project proposals and the ratings for each of them</p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accounts</h2>
        <p>
            Create an account and then you can rate proposals
        </p>
        <p><a class="btn btn-default" href="~/Members/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View All Proposals</h2>
        <p>View All of the Existing Proposals and their grades. Each proposal provides the email address of the member that graded it.</p>
        <p><a class="btn btn-default" href="~/Proposals/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Select Proposal By user</h2>
        <p>View Existing Proposals for a specific member and their grades. Each proposal provides the email address of the member that graded it.</p>
        <p><a class="btn btn-default" href="~/Members/selectMember">Learn more &raquo;</a></p>
    </div>

</div>